.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--black);
  font-family: "Fira Code", monospace;

  p {
    text-align: center;
  }
}

.header {
  text-align: center;
}

.footer {
  margin-top: 1em;
  text-align: center;
}
